$greenBorder:#008833;
$linkColor: rgba(255, 174, 217, 0.87);

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 40px;
}
.login-form {
    border: 1px solid $greenBorder;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    padding: 10px;
}
.login-form-element {
    margin: 3px;
    width: 80%;
}
.login-link {
    font-size: 14px;
    color: $linkColor;
}
